---
layout: page
title: Jay Winiarski
subtitle: PhD Student - Ecology, Evolution, and Behavior
meta-title: "Jay Winiarski"
meta-description: "PhD graduate student"
bigimg:
  - "/img/big-imgs/zion.jpg" : "Zion National Park"
  - "/img/big-imgs/yosemite.jpg" : "Yosemite National Park"
  - "/img/big-imgs/eagle_cap.jpg" : "Mirror Lake, Eagle Cap Wilderness, OR"
  - "/img/big-imgs/matterhorn.jpg" : "Matterhorn, Eagle Cap Wilderness, OR"
  - "/img/big-imgs/sacajawea.jpg" : "Sacajawea Peak, Eagle Cap Wilderness, OR"
  - "/img/big-imgs/threesisters.jpg" : "Three Sisters Wilderness, OR"
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
